%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:components, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:components, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:components, :edit, :id => @component.id)

.tabs-content
  = form_for :component, url(:components, :update, :id => @component.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'components/form', :locals => { :f => f }
