%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:components, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:components, :new)

.tabs-content
  = form_for :component, url(:components, :create), :class => 'form-horizontal' do |f|
    =partial 'components/form', :locals => { :f => f }
