%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:skaters, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:skaters, :new)

.tabs-content
  = form_for :skater, url(:skaters, :create), :class => 'form-horizontal' do |f|
    =partial 'skaters/form', :locals => { :f => f }
